@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
.homepage {
  /* border: .2rem solid red; */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .headingbox {
} */
#heading {
  font-size: 9rem;
  color: white;
  text-align: center;
}
#clr {
  font-size: 9rem;
  color: #ecca0a;
}
#btn {
  width: 16rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  background-color: #ecca0a;
margin-left: 33rem;
margin-top: 2rem;
}
